#
# Copyright (c) 2026 Javad Rahimipetroudi
#
# SPDX-License-Identifier: Apache-2.0
#

# Top-level configuration file for RF module drivers.

menuconfig RF
	bool "RF drivers"
	select POLL
	help
	  Include RF drivers in the system configuration.

if RF


module = RF
module-str = rf
source "subsys/logging/Kconfig.template.log_config"

config RF_SHELL
	bool "RF Shell"
	depends on SHELL
	help
	  Enable RF Shell for testing.

config RF_INIT_PRIORITY
	int "RF initialization priority"
	default 90
	help
	  System initialization priority for RF module drivers.

rsource "Kconfig.nrf24l1"

endif # RF
