# Copyright (c) 2024 Silicon Laboratories Inc.
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_SILABS_SI5351
	bool "Silicon Labs Si5351 programmable clock generator"
	default y
	depends on DT_HAS_SILABS_SI5351_CLOCK_ENABLED
	help
	  Enable Silicon Labs SI5351 programmable clock generator.
