/*
 * Copyright (c) 2020 Intel Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f407Xe.dtsi>
#include <st/f4/stm32f407v(e-g)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "black_f407ve board";
	compatible = "black-stm32f407";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
                zephyr,modem-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,dtcm = &ccm0;
//		zephyr,canbus = &can2;
	};

	leds {
		compatible = "gpio-leds";

		green_led_1: led_1 {
			gpios = <&gpioe 7 GPIO_ACTIVE_HIGH>;
			label = "User LD1";
		};

	};

	reg_gps_3p3v: regulator_gps_3p3v {
                compatible = "regulator-fixed";
                regulator-name = "gps_regulator";
		enable-gpios = <&gpiod 7 GPIO_ACTIVE_HIGH>;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
                regulator-boot-on;

                status = "okay";
        };
	reg_radio_3p3v: regulator_radio_3p3v {
                compatible = "regulator-fixed";
                regulator-name = "radio_regulator";
		enable-gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
                regulator-boot-on;

                status = "okay";
        };


	aliases {
		led0 = &green_led_1;
		gnss = &gnss;
                sdhc0 = &sdmmc1;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

gps_usart:&usart2 {
	pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <9600>;
	gnss:  atgm336h{
		status = "okay";
		compatible = "gnss-nmea-generic";
		//initial-baudrate = <9600>;
	};
};

&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa0>;
		pinctrl-names = "default";
	};
};

&rtc {
	clocks = <&rcc STM32_CLOCK(APB1, 28)>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
	pinctrl-names = "default";
	status = "disabled";
};

&can2 {
	pinctrl-0 = <&can2_rx_pb12 &can2_tx_pb13>;
	pinctrl-names = "default";
	status = "okay";
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pb10 &spi2_miso_pc2 &spi2_mosi_pc3>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
	clock-frequency = <8000000>;// Max 8 Mbps for SPI
	status = "okay";

	nrf24l1: nrf24@0 {
		reg = <0>;
		addr-width = <4>;
		compatible = "nordic,nrf24l01";
		status = "okay";
		spi-max-frequency = <500000>;// This really sets frequency
		ce-gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
		irq-gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
		channel-frequency = <90>;
		rf-power-attenuation = <0>;
		lna-gain;
		tx-address = [e7 e7 e7 e7];
		payload-fixed-size = <32>;
		rx-datapipes-number = <2>;
		rx-datapipe0-address = [e7 e7 e7 e7];
		rx-datapipe1-address = [de ad de ad];
		payload-ack;
		payload-crc;
	};
};

&sdmmc1 {
        status = "okay";
        pinctrl-0 = <&sdio_d0_pc8 &sdio_d1_pc9
                     &sdio_d2_pc10 &sdio_d3_pc11
                     &sdio_ck_pc12 &sdio_cmd_pd2>;
        pinctrl-names = "default";
        //cd-gpios = <&gpioa 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        disk-name = "SD";
};

&zephyr_udc0 {
	cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
